body {
    margin: 0;
    padding: 0; 
}

.titulo {
    background-color: lightblue;
    color: black;
    text-align: center;
    padding: 20px;
    margin: 0;
}
.cont-general{
    display: flex;
    height: 500px;
}

/*contenedor de la izquierda*/
.cont-izquierda{
    background-color: beige;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cont-pequeño-formulario {
    width: 33%;
    margin:10px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgray;
}

.cont-pequeño-formulario button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;;
}

.cont-pequeño-formulario button:hover {
    background-color: grey;
}

/*separador*/
.separador{
    width: 2px;
    background-color:black;
}

/*contenedor de la derecha*/
.cont-derecha{
    background-color: beige;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    background-color: beige;
    text-align: center;
    display:grid;
    height: 160px;
}

.cont footer h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    margin: 0;
    padding: 10px;
    color: white;
}
